/* Header */
body header{
    display: flex;
    justify-content: space-between;
}

.menu ul a{
    color: black;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu ul a:hover, .active{
    border-bottom: 2px solid #E54B2A;
    padding-bottom: 5px;
}

.contenido{
    width: 100%;
    padding: 20px;
    background-color: #ffc4a8;
}

/* Primera franja del diseño */
.section2{
    background-color: #ffc4a8;  
}
.contenedor-relative{
    position: relative;
    display: flex;
    justify-content: center;
}

.contenedor-relative h1{
    font-weight: bold;
    font-size: 150;
    margin-bottom: 60px;
}

.contenedor-relative section img{
    width: 730px;
    height: 460px;
    position: absolute;
    top: -40;
    left: 510;
}

.contenedor-circles{
    position: absolute;
    top: 350;
    right: 0;
    padding: 10px;
}

.contenedor-circles div{
    display: block;
    flex-direction: column;
    justify-content: center;
}

.circle{
    background-color: #fd6f6b;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 3px;
}


/* Segunda franja del diseño */
.section3{
    background-image: url('../assets/ilia-zolas-4W1fURf1SB8-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3 h1{
    text-align: center;
    font-weight: bold;
    padding: 3%;
}

.section3 h3{
    text-align: center;
    font-size: 15px;
}

.section3 button {
    width: 15%;
    justify-items: center;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 2%;
    border: none;
    border-radius: 50px; 
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Tercera franja del diseño */
.section4{
    background-color: rgba(119,195,195,255);
    padding-bottom: 10%;
}

.carrusel {
    position: relative;
    overflow: hidden;
  }
  
.imagenes {
    display: flex;
    width: calc(800px * 3);
    transition: transform 0.3s ease;
}
  
.sabores{
    width: calc(100% / 3);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin: 5% 0;
}

.sabores img {
    max-width: 30%;
    height: auto;
}

.sabores h4{
    font-size: 14px;
}
  
.flecha-izquierda,
.flecha-derecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: black;
    font-size: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 46px;
}
  
.flecha-izquierda {
    left: 10px;
}
  
.flecha-derecha {
    right: 10px;
}

/* Cuarta franja del diseño */
.section5{
    background-color: rgba(248,243,205,255);
    padding: 10% 0;
    z-index: 1;
}

.section5 h1{
    text-align: center;
    font-weight: bold;
}

.section5 h3{
    text-align: center;
    font-size: 15px;
}

.section5-circles{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgba(248,243,205,255);
}

.section5-first-circle-left{
    width: 320;
    height: 600;
    border-radius: 50%;
    position: absolute;
    top: -260;
    left: 70;
    background-color: rgba(248,243,205,255);
    transform: rotate(70deg);
}
.section5-first-circle-right{
    width: 400;
    height: 200;
    border-radius: 50%;
    position: absolute;
    top: -115;
    left: 270;
    background-color:rgba(248,243,205,255);
    transform: rotate(25deg);
}

.section5-second-circle-left{
    width: 300;
    height: 450;
    border-radius: 50%;
    position: absolute;
    top: -300;
    left: 629;
    background-color: rgba(119,195,195,255); 
    transform: rotate(130deg);
}

.section5-second-circle-right{
    width: 320;
    height: 550;
    border-radius: 50%;
    position: absolute;
    top: -320;
    left: 830;
    background-color: rgba(119,195,195,255); 
    transform: rotate(73deg);
    z-index: 1;
}