/* Header */
body header{
    display: flex;
    justify-content: space-between;
}

.menu ul a{
    color: black;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu ul a:hover, .active{
    border-bottom: 2px solid #E54B2A;
    padding-bottom: 5px;
}

.contenido{
    width: 100%;
    padding: 20px;
    background-color: #ffc4a8;
}